<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /proyecto-pi/
  
  # Si la solicitud no es un archivo o directorio existente
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  
  # Redirige todas las solicitudes a index.html
  RewriteRule ^ index.html [QSA,L]
</IfModule>
